<p style="color: green"><%= notice %></p>

<h1>Lists</h1>
<%= link_to "New list", new_list_path %>
<hr />

<%= tag.div id: :boards, data: { lists: @lists.to_json(include: :cards) } %>

<%# <div class="row" id="lists"> %>
  <%# <% @lists.each do |list| %>
    <%# <div class="col-2"> %>
      <%# <h5><%= list.name %> <%#h5> </h5> %>
    <%# </div> %>
  <%# <% end %>
<%# </div> %>

